services:
  backend:
    image: backend
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "80"
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=PA_DB;Username=user;Password=password
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
    depends_on:
      - db
    volumes:
      - .:/app
    networks:
      - app-network
  
  frontend:
    build: 
      context: ../ProductionAnalysisFrontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "8088:80"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=/api
    networks:
      - app-network
  
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=PA_DB
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_new:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - app-network

volumes:
  postgres_data_new:

networks:
  app-network:
    driver: bridge