services:
  backend:
    image: backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=PA_DB;Username=user;Password=password
    depends_on:
      - db
    volumes:
      - .:/app
    restart: unless-stopped
    networks:
      - app-network
  
  frontend:
    build: 
      context: ../ProductionAnalysisFrontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network
  
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=PA_DB
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge